<ul class="breadcrumb">
  <li class="breadcrumb__element"><a href="/">Inicio</a></li>
  {{#each filters.0.values.0.path_from_root}}
  <li class="breadcrumb__element">{{name}}</li>
  {{/each}}
  {{#each path_from_root}}
  <li class="breadcrumb__element">{{name}}</li>
  {{/each}}
  {{#if query}}
  <li class="breadcrumb__element">{{quote query}}</li>
  {{/if}}
</ul>
