<ul class="breadcrum">
    <li class="breadcrum__element"><a href="/">Inicio</a></li>
{{#each filters.0.values.0.path_from_root}}
    <li class="breadcrum__element">{{name}}</li>
{{/each}}
{{#each path_from_root}}
    <li class="breadcrum__element">{{name}}</li>
{{/each}}
{{#if query}}
    <li class="breadcrum__element">{{quote query}}</li>
{{/if}}
</ul>