.error {
    text-align: center;
 
    .error__title {
        font-weight: 200;
        font-size: 30px;
        color: #999;
    }

    .error_detail {
        border: 4px solid #eee;
        border-radius: 4px;
        font-size: 14px;
        background-color: #fafafa;
        padding: 10px;
    }
}
